<!-- Vector -->
<svg
  version="1.1"
  id="svg-circumplex"
  xmlns="http://www.w3.org/2000/svg"
  x="0px"
  y="0px"
  viewBox="0 0 1000 1000"
  style="enable-background: new 0 0 1000 1000"
  xml:space="preserve"
  class="svgDemo"
>
  <style type="text/css">
    .st0 {
      fill: none;
      stroke: #000000;
      stroke-width: 5;
      stroke-miterlimit: 10;
    }

    .st1 {
      fill: none;
      stroke: #008c8c;
      stroke-width: 2;
      stroke-miterlimit: 0;
      stroke-dasharray: 10, 5;
    }
  </style>
  <line class="st0" x1="500" y1="50" x2="500" y2="1000" />
  <line class="st0" x1="50" y1="500" x2="1000" y2="500" />
  <text
    width="500"
    text-anchor="middle"
    x="980"
    y="440"
    fill="black"
    font-size="3rem"
    transform="rotate(90 980 440)"
  >
    {{ config.circumplex.dimX }}
  </text>
  <text
    width="500"
    text-anchor="middle"
    x="500"
    y="35"
    fill="black"
    font-size="3rem"
  >
    {{ config.circumplex.dimY }}
  </text>
  <g ng-repeat="em in config.circumplex.emotions | orderBy: orderEmotions">
    <circle
      cx="{{ translateX(em.valueX) }}"
      cy="{{ translateY(em.valueY) }}"
      r="10"
      style="stroke: black; fill: #eb9316"
    ></circle>
    <text
      width="200"
      text-anchor="middle"
      x="{{ translateX(em.valueX) }}"
      y="{{ translateY(em.valueY) + 20 }}"
      fill="black"
    >
      {{ em.name }}
    </text>
    <line
      class="st1"
      x1="{{ translateX(slideX.value) }}"
      y1="{{ translateY(slideY.value) }}"
      x2="{{ translateX(em.valueX) }}"
      y2="{{ translateY(em.valueY) }}"
      ng-show="$index < config.inserting.numSubset"
    />
  </g>
  <circle
    cx="{{ translateX(slideX.value) }}"
    cy="{{ translateY(slideY.value) }}"
    r="10"
    style="stroke: black; fill: #008c8c"
  ></circle>
</svg>
