<div id="emotion-display">
  <section id="insert-dimensionX">
    <label><span class="label label-default">1</span> {{ config.circumplex.dimX | uppercase }} - {{ config.inserting.questionX }}</label>
    <input type="range" min="-100" max="100" step="1" id="slideX" ng-model="slideX.value" ng-change="onSlideChange('X')">
    <div class="row slider-legend">
      <div class="col-sm-4  legend">
        <span class="pull-left">{{ config.inserting.dimXneg }}</span>
      </div>
      <div class="col-sm-4">
        <div class="text-center"><i class="fa fa-sort-asc fa-2x"></i></div>
      </div>
      <div class="col-sm-4  legend">
        <span class="pull-right">{{ config.inserting.dimXpos }}</span>
      </div>
    </div>
  </section>
  <section id="insert-dimensionY">
    <label><span class="label label-default">2</span> {{ config.circumplex.dimY | uppercase }} - {{ config.inserting.questionY }}</label>
    <input type="range" min="-100" max="100" step="1" id="slideY" ng-model="slideY.value" ng-change="onSlideChange('Y')">
    <div class="row slider-legend">
      <div class="col-sm-4  legend">
        <span class="pull-left">{{ config.inserting.dimYneg }}</span>
      </div>
      <div class="col-sm-4">
        <div class="text-center"><i class="fa fa-sort-asc fa-2x"></i></div>
      </div>
      <div class="col-sm-4  legend">
        <span class="pull-right">{{ config.inserting.dimYpos }}</span>
      </div>
    </div>
  </section>
  <section id="insert-emotions">
    <label><span class="label label-default">3</span> Which emotion do you feel?</label>
    <div id="emotions-buttons-container" ng-show="dewShowButtons">
      <div id="emotions-buttons">
        <button class="btn btn-warning btn-emotion"
                ng-repeat="emotion in config.circumplex.emotions | orderBy: orderEmotions | limitTo:config.inserting.numSubset" ng-click="sendEmotion(emotion.name, 'button', $index + 1)">
          {{emotion.name}}</button>
      </div>
      <div id="emotions-other">
        <form class="form-inline" id="other-emotion-form" name="otherEmotionForm"
              ng-submit="sendEmotion(otherEmotionInput, 'other', null)" novalidate>
          <div class="input-group" ng-show="config.inserting.showOtherEmotion">
            <label class="sr-only" for="other-emotion-field">Other emotion</label>
            <input type="text" ng-model="otherEmotionInput" list="other-emotion-list" class="form-control" id="other-emotion-field"
                   placeholder="Other emotion" ng-required="true" autocomplete="off">
                    <span class="input-group-btn">
                      <button type="submit" class="btn btn-default" id="other-emotion-button" ng-disabled="!otherEmotionForm.$valid">Send</button>
                    </span>
          </div>
          <button id="no-emotion-button" type="button" class="btn btn-danger" ng-show="config.inserting.showNoEmotion" ng-click="sendEmotion('None', 'none', null)">NO Emotion</button>
        </form>
        <datalist id="other-emotion-list">
          <option value="{{label.name}}" ng-repeat="label in config.circumplex.emotions | orderBy: 'name'"></option>
        </datalist>
      </div>
    </div>
    <div id="emotions-instructions" ng-show="dewShowInstructions">
      <p class="alert alert-info">Please rate the situation on the two sliders.</p>
    </div>
    <div id="emotions-feedback" ng-show="dewShowFeedback">
      <div class="alert alert-success" id="emotions-feedback-confirmation">
        <strong>Last emotion expressed at
          <time>{{ lastSendEmotion | date: 'HH:mm' }}</time></strong>.
        Change sliders' values or <a ng-click="confirmSlideValue()" id="emotions-confirm-values"><strong>confirm current
        values</strong></a> for
        another emotion.
      </div>
    </div>
  </section>
</div>