<!-- Self history -->
<div class="panel panel-default" id="self-graph-panel">
  <div class="panel-heading">
    <mark>Your</mark>
    chronology
  </div>
  <div class="panel-body">
    <div class="graph">
      <canvas id="self-graph"></canvas>
    </div>
    <div class="legend-graph">
      <span class="vous-graph">{{ config.circumplex.dimX }}</span><span class="autre-graph">{{ config.circumplex.dimY }}</span><span
        class="divider-graph">+/-
              </span>
    </div>
  </div>
</div>