<h1>About the Dynamic Emotion Wheel</h1>
<div class="row">
  <div class="col-md-8">
    <p class="lead">The site is currently under development and so is the technical documentation of the tool.</p>
    <p>For instance, the most comprehensive resource about the Dynamic Emotion Wheel is Mattia A. Fritz's Master Thesis. The thesis comprises:</p>
    <ul class="dew-list">
      <li>A <strong>theoretical framework</strong> covering aspects related to emotions, in particular the <strong>Component Process Model</strong> framework, and awareness in Computer-Supported Collaboration, especially <strong>Computer-Supported Collaborative Learning</strong>.</li>
      <li>The description of the most important phases of the <strong>development cycle</strong> of the first version of the tool, with respect to both <strong>human-computer interaction</strong> and <strong>technical</strong> choices.</li>
      <li>The results of a <strong>usability test</strong> conducted in experimental settings with 16 participants undergoing a <strong>simulated collaborative task</strong>.</li>
    </ul>
    <p>The manuscript is available through the Open Archive of the Geneva University.</p>
    <p class="text-center"><a class="btn btn-lg btn-primary" href="http://archive-ouverte.unige.ch/unige:75083"><i class="fa fa-book"></i> Download the Master Thesis</a></p>
  </div>
  <div class="col-md-4">
    <a href="http://archive-ouverte.unige.ch/unige:75083">
      <img class="img-responsive img-thumbnail" src="/assets/images/thesis-cover-page.png">
    </a>
  </div>
</div>
<hr>
<h2>Future developments</h2>
<p class="lead">The tool needs further development both at <strong>theoretical</strong> and <strong>technical</strong> level in order to fulfill its role of emotional awareness and self-report tool. </p>
<p>At a <strong>theoretical</strong> level, the tool still needs:</p>
<ul>
  <li>More and more accurate underlying circumplexes based on the GRID instrument. The position of subjective feelings on the wheel must be empirically determined with a different tool than the DEW itself for consistency and accuracy.</li>
  <li>More variety in graphical emotion representation (i.e. other tools than the emotion timeline and the appraisal graphics), especially with respect to integrated or grouped representations (e.g. tag clouds).</li>
</ul>
<p>At a <strong>technical</strong> level, the tool still needs:</p>
<ul>
  <li>A functioning prototype that allows researchers to test their configuration and experimental settings.</li>
  <li>A version of the tool that can be easily shared with and installed by researchers.</li>
  <li>A backend interface to check and export results.</li>
</ul>