<h1>Contacts</h1>
<p class="lead">For any question or suggestion about the Dynamic Emotion Wheel, please contact <a href="http://tecfa.unige.ch/perso/mafritz/#/"><strong>Mattia A. Fritz</strong></a>. Letters are welcome in English, French or Italian.</p>
<div class="row">
  <div class="col-md-6">
    <h2><i class="fa fa-map-marker"></i> <strong>Office</strong> at TECFA</h2>
    <p>
      TECFA - FPSE<br>Bureau 509<br>42 bd Pont-d'Arve<br>CH-1211 Geneva 4, Switzerland
    </p>
    <ul class="list-unstyled lead">
      <li><i class="fa fa-phone-square"></i> Phone: +41 22 379 03 87</li>
      <li><i class="fa fa-envelope-square"></i> Email: <a href="mailto:mattia.fritz@unige.ch">Mattia.Fritz@unige.ch</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <h2><i class="fa fa-globe"></i> Network</h2>
    <ul class="list-unstyled lead">
      <li><i class="fa fa-twitter"></i> <a href="https://twitter.com/mattiafritz">@mattiafritz</a></li>
      <li><i class="fa fa-linkedin"></i> <a href="https://www.linkedin.com/in/mattiafritz">Mattia Alexandre Fritz</a></li>
      <li><i class="fa fa-skype"></i> mattia.fritz</li>
      <li><i class="fa fa-github"></i> <a href="https://github.com/mafritz/">mafritz</a></li>
    </ul>
  </div>
</div>