<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <title>Introduction à la pensée computationnelle (CO)</title>
    <link
      rel="icon"
      type="image/svg+xml"
      href="https://mafritz.ch/slides/assets/images/maf-favicon.svg"
    />

    <meta
      name="description"
      content="Présentation sur les différentes approches à l'enseignement de la pensée computationnelle"
    />
    <meta name="author" content="Mattia A. Fritz" />

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://mafritz.ch/slides/assets/dist/reset.css"
    />
    <link
      rel="stylesheet"
      href="https://mafritz.ch/slides/assets/dist/reveal.css"
    />
    <link
      rel="stylesheet"
      href="../../assets/dist/theme/tecfa.css"
      id="theme"
    />

    <!-- Theme used for syntax highlighting of code -->
    <link
      rel="stylesheet"
      href="https://mafritz.ch/slides/assets/plugin/highlight/monokai.css"
      id="highlight-theme"
    />
  </head>

  <body>
    <div class="reveal">
      <!-- Any section element inside of this container is displayed as a slide -->
      <div class="slides">
        <!-- Title -->
        <section>
          <img
            class="r-stretch"
            src="images/pensee-computationnelle-image.svg"
            alt="Logo du projet"
            title="Je pense, donc JS"
          />
          <h3>Introduction à la pensée computationnelle (CO)</h3>
          <p>
            Mattia A. Fritz<br />
            <small>TECFA, Université de Genève</small>
          </p>
        </section>

        <!-- Plan -->
        <section>
          <h3>Plan de la présentation</h3>
          <ol>
            <li>Perspective adoptée</li>
            <li>Qu'est-ce que la pensée computationnelle ?</li>
            <li>Approches pour enseigner la pensée computationnelle</li>
            <li>Enjeux et difficultés</li>
          </ol>
        </section>

        <!-- Perspective -->
        <section class="align-center">
          <p class="accent pt-5"><i class="fas fa-glasses fa-5x"></i></p>
          <h3>Perspective adoptée</h3>
        </section>

        <!-- Débat RTS -->
        <section class="align-center">
          <h3>Sujet qui crée du débat</h3>
          <iframe
            src="//tp.srgssr.ch/p/srf/embed?urn=urn:rts:audio:7638246&start="
            allowfullscreen
            width="400"
            height="300"
            frameborder="0"
            name="Faut-il obliger les enfants à suivre des cours de programmation informatique à l'école?"
            allow="geolocation *; autoplay; encrypted-media"
          ></iframe>
          <p>
            <a
              href="https://www.rts.ch/play/radio/forum/audio/faut-il-obliger-les-enfants-a-suivre-des-cours-de-programmation-informatique-a-lecole?id=7638246&station=a9e7621504c6959e35c3ecbe7f6bed0446cdf8da"
              >Faut-il obliger les enfants à suivre des cours de programmation
              informatique à l'école ?</a
            >
          </p>
          <p>
            <small>Débat dans l'émission Forum, &copy; RTS 2016</small>
          </p>
        </section>

        <!-- Approche dichotomique -->
        <section class="align-center">
          <h3>Approche dichotomique</h3>
          <p>
            Tendance à polariser, par exemple informatique vs.
            <abbr title="Technologies de l'Information et de la Communication"
              >TIC</abbr
            >.
          </p>
          <img
            src="./images/dichotomie-enseignement-pc.png"
            class="r-stretch"
            alt="Arborescence dichotomique"
            title="Approche dichotomique à l'enseignement de la pensée computationnelle."
          />
        </section>

        <!-- Approche integrative -->
        <section class="align-center">
          <h3>Approche integrative</h3>
          <p>On peut voir une influence mutuelle entre éléments.</p>
          <img
            src="./images/approche-integrative.png"
            class="r-stretch"
            alt="Approche integrative"
            title="Approche integrative à l'enseignement de la pensée computationnelle"
          />
        </section>

        <!-- Articulation numérique -->
        <section class="align-center">
          <h3>Lien avec l'éducation numérique</h3>
          <img
            src="./images/articulation-ct-ednum.png"
            class="r-stretch"
            alt="Articulation avec l'éducation numérique"
            title="Articulation avec l'éducation numérique"
          />
          <p>
            La pensée computationnelle est une composante de l'éducation
            numérique, mais dont l'étendu dans la sphère sociale est plus
            limitée, <strong>quoi que fondamentale !</strong>
          </p>
        </section>

        <!-- Example thumbs up/down -->
        <section class="align-center">
          <h3>Exemple du <em>thumbs-up/down</em></h3>
          <p>Différents niveaux d'analyse pour une fonctionnalité.</p>
          <div class="d-flex space-between mt-2 r-stretch">
            <div class="fragment">
              <h4>Ingénierie</h4>
              <table class="table text-center">
                <thead>
                  <tr>
                    <th scope="col">post_id</th>
                    <th scope="col">thumb</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">6272</th>
                    <td class="text-center">0</td>
                  </tr>
                  <tr>
                    <th scope="row">6272</th>
                    <td class="text-center">1</td>
                  </tr>
                  <tr>
                    <th scope="row">6272</th>
                    <td class="text-center">1</td>
                  </tr>
                  <tr>
                    <th scope="row">6272</th>
                    <td class="text-center">0</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="fragment">
              <h4>Interaction</h4>
              <p>Un simple clique...</p>
              <p>
                <button onclick="countUp()">
                  <span id="countUpValue">97</span>
                  <i class="fas fa-thumbs-up"></i>
                </button>
                <button onclick="countDown()">
                  <span id="countDownValue">61</span>
                  <i class="fas fa-thumbs-down"></i>
                </button>
              </p>
            </div>
            <div class="fragment">
              <h4>Implications</h4>
              <ul>
                <li>Désirabilité</li>
                <li>Exclusion</li>
                <li>Depression</li>
                <li>...</li>
              </ul>
            </div>
          </div>
          <small class="fragment"
            >Voir par exemple <em>The Social Dilemma</em> (2020)</small
          >
        </section>
        <script>
          function countUp() {
            document.getElementById("countUpValue").innerHTML++;
          }

          function countDown() {
            document.getElementById("countDownValue").innerHTML++;
          }
        </script>

        <!-- Partie sur la définition -->
        <section class="align-center">
          <p class="accent pt-5">
            <i class="fas fa-question-circle fa-5x"></i>
          </p>
          <h3>Qu'est-ce que la pensée computationnelle</h3>
        </section>

        <!-- Problème sur les cierges -->
        <section>
          <h3>Contextualiser avec exemple</h3>
          <p>
            Frère Luc est l'intendant de l'abbaye. Très économe, il réutilise
            les bouts de cierges usagés pour en faire de nouveaux. Il est
            capable de reconstituer un cierge à partir de trois bouts de cierges
            qu'il fait fondre.
          </p>
          <p>
            Combien pourra-t-il reconstituer de cierges avec les neuf bouts de
            cierges qu'il a récupérés ce matin dans l'abbatiale ?
          </p>
        </section>

        <!-- Solution "cognitive" -->
        <section>
          <h3>Solution <em>cognitive</em></h3>
          <ol>
            <li class="fragment">
              Avec 9 bouts, il peut reconstituer 3 cierges.
            </li>
            <li class="fragment">
              En brûlant les 3 cierges, il récupère 3 nouveaux bouts.
            </li>
            <li class="fragment">
              Avec ces 3 bouts supplémentaire, il peut reconstituer 1 nouveau
              cierge (<strong class="text-danger">récursivité</strong>).
            </li>
          </ol>
          <p class="border-dark-1 p-1 text-success text-center fragment">
            <i class="fa fa-check"></i> Au total, il récupère 4 cierges !
          </p>
        </section>

        <!-- Solution computationnelle -->
        <section>
          <h3>Solution computationnelle</h3>
          <p>Implémentation en code JavaScript.</p>
          <pre><code data-trim data-line-numbers="|8-13" data-fragment-index="1">
            //Set the initial number of pieces available
            var numberOfPieces = 9;
            //How many pieces are needed for a candle?
            var piecesRequired = 3;
            //Set a variable to be incremented for each new candle
            var totalCandlesObtained = 0;
            //Go on until the number of candles can be divided by the pieces
            while (numberOfPieces / piecesRequired >= 1) {
              //At each cycle define the new number of candles
              numberOfPieces = Math.floor(numberOfPieces / piecesRequired);
              //Add it to the previous total
              totalCandlesObtained += numberOfPieces;
            }
            //Print the result
            console.log('TOTAL:' + totalCandlesObtained + ' candles');
          </code></pre>
          <p class="fragment accent text-center" data-fragment-index="1">
            <strong>Récursivité</strong>
          </p>
        </section>

        <!-- Application interactive -->
        <section>
          <h3>Généralisation du code</h3>
          <div id="enigma1">
            <form
              v-on:submit.prevent="resolveFirstEnigma()"
              autocomplete="off"
              class="form-inline"
            >
              <div class="d-flex space-between">
                <div class="form-group">
                  <label for="numberOfCandles">Bouts dispo : </label>
                  <input
                    type="number"
                    min="1"
                    class="form-control input-lg"
                    id="numberOfCandles"
                    v-model="piecesAvailable"
                    style="width: 90px; text-align: center"
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="piecesRequired">Bouts pour 1 cierge : </label>
                  <input
                    type="number"
                    min="2"
                    class="form-control input-lg"
                    id="piecesRequired"
                    v-model="piecesRequired"
                    style="width: 90px; text-align: center"
                    required
                  />
                </div>
                <button type="submit" class="btn btn-primary btn-lg">
                  Calculer
                </button>
              </div>
            </form>
            <hr />
            <textarea
              class="form-control input-lg"
              rows="7"
              v-model="solution"
              style="width: 95%"
              readonly
            ></textarea>
            <p class="text-success text-center" v-if="solution">
              <i class="fa fa-check text-success"></i> Au total, il obtient
              <strong>{{totalCandles}}</strong> cierges.
            </p>
          </div>
        </section>

        <!-- Question fondamentale -->
        <section class="align-center">
          <p>
            <i class="fa fa-question-circle fa-4x text-danger"></i>
          </p>
          <h3>
            Connaître la récursivité dans le codage facilite la résolution
            cognitive du problème ?
          </h3>
        </section>

        <!-- Spectrum de la pensée computationnelle -->
        <section>
          <h3>Pensée computationnelle est ?</h3>
          <p>
            Dans la littérature scientifique, les différentes définitions de la
            pensée computationnelle peuvent être placées sur un continuum entre
            <strong class="accent">deux pôles</strong> <em>opposés</em> :
          </p>
          <img
            src="./images/ct-spectrum.svg"
            alt="Continuum entre deux pôles"
            title="Continuum entre deux pôles"
            style="min-width: 100%"
          />
          <div class="d-flex space-between text-center">
            <div class="border-light-1 p-1 fragment">
              <i class="fa fa-user" aria-hidden="true"></i
              ><br />Capacités<br />Individuelles
            </div>
            <div class="border-light-1 p-1 fragment">
              <i class="fa fa-user"></i>
              <i class="fa fa-arrows-alt-h" aria-hidden="true"></i>
              <i class="fas fa-laptop-code"></i><br />
              Interaction<br />Personne-Machine
            </div>
          </div>
        </section>

        <!-- Wing 2006 -->
        <section class="align-center">
          <h3>Processus <em>universel</em></h3>
          <div class="border-light-1 p-1 ml-2 mr-2">
            <i class="fa fa-quote-left"></i>
            À la lecture, l'écriture et l'arithmétique, nous devrions ajouter la
            pensée computationnelle à la capacité d'analyse de chaque enfant.
            <i class="fa fa-quote-right"></i>
          </div>
          <p class="text-right pr-5">— Wing 2006, p. 33</p>
          <p>
            <small
              ><i class="fa fa-exclamation-triangle"></i> Traduction
              libre</small
            >
          </p>
        </section>

        <!-- Aho 2012 -->
        <section class="align-center">
          <h3>Processus <em>universel</em></h3>
          <div class="border-light-1 p-1 ml-2 mr-2">
            <i class="fa fa-quote-left"></i>
            Nous considérons que la pensée computationnelle est le processus de
            pensée impliqué dans la formulation des problèmes afin que leurs
            solutions puissent être représentées sous forme d'étapes de calcul
            et d'algorithmes.
            <i class="fa fa-quote-right"></i>
          </div>
          <p class="text-right pr-5">— Aho 2012, p. 832</p>
          <p>
            <small
              ><i class="fa fa-exclamation-triangle"></i> Traduction
              libre</small
            >
          </p>
        </section>

        <!-- Denning 1989 -->
        <section class="align-center">
          <h3>Processus <em>délimité</em></h3>
          <div class="border-light-1 p-1 ml-2 mr-2">
            <i class="fa fa-quote-left"></i>
            La discipline de l'informatique est l'étude systématique des
            processus algorithmiques qui décrivent et transforment l'information
            [...]. La question fondamentale qui sous-tend l'ensemble de
            l'informatique est la suivante : "Que peut-on automatiser
            (efficacement) ?
            <i class="fa fa-quote-right"></i>
          </div>
          <p class="text-right pr-5">— Denning et al., 1989, p. 12</p>
          <p>
            <small
              ><i class="fa fa-exclamation-triangle"></i> Traduction
              libre</small
            >
          </p>
        </section>

        <!-- Denning 2016 -->
        <section class="align-center">
          <h3>Processus <em>délimité</em></h3>
          <div class="border-light-1 p-1 ml-2 mr-2">
            <i class="fa fa-quote-left"></i> Un algorithme n'est pas une
            séquence d'étapes quelconques, mais une série d'étapes qui
            contrôlent une machine abstraite ou un modèle de calcul sans
            nécessiter de jugement humain. La pensée computationnelle inclut la
            conception du modèle, et non seulement les étapes pour le contrôler.
            <i class="fa fa-quote-right"></i>
          </div>
          <p class="text-right pr-5">— Denning, 2016, p. 33</p>
          <p>
            <small
              ><i class="fa fa-exclamation-triangle"></i> Traduction
              libre</small
            >
          </p>
        </section>

        <!-- Troisième dimension sociale -->
        <section class="align-center">
          <h3>Troisième dimension sociale</h3>
          <img
            src="https://edutechwiki.unige.ch/fmediawiki/images/3/3b/Perspective_aspects_th%C3%A9oriques_pens%C3%A9e_computationnelle.png"
            alt="Diagramme avec intersection de trois cercles"
            title="La pensée computationnelle comme processus émergeant"
            class="r-stretch"
          />
        </section>

        <!-- Fritz 2019 -->
        <section class="align-center">
          <h3>Processus <em>émergent</em></h3>
          <div class="border-light-1 p-1 ml-2 mr-2">
            <i class="fa fa-quote-left"></i>
            La pensée computationnelle est un phénomène émergeant de
            l'interaction entre l'individu, la technologie, et la communauté de
            référence. La pensée computationnelle possède une dimension sociale
            que l'individu et la technologie subissent, mais peuvent également
            déterminer : l'individu avec ses choix ; la technologie avec son
            fonctionnement.
            <i class="fa fa-quote-right"></i>
          </div>
          <p class="text-right pr-5">— Fritz, 2019</p>
          <p>
            <small
              ><i class="fa fa-exclamation-triangle"></i> Définition
              provisoire</small
            >
          </p>
        </section>

        <!-- Mouvement bi-directionnel -->
        <section>
          <h3>Mouvement bi-directionnel</h3>
          <p>
            L'informatique s'oriente vers les sciences sociales, et les sciences
            sociales utilisent de plus en plus l'informatique.
          </p>
          <div class="d-flex space-between mt-4" style="align-items: center">
            <div class="text-center border-dark-2 p-2">
              <h4 style="margin: 0">Informatique</h4>
            </div>
            <div class="text-center text-danger">
              <i class="fas fa-sync-alt fa-3x"></i>
            </div>
            <div class="text-center border-dark-2 p-2">
              <h4 style="margin: 0">Sciences sociales</h4>
            </div>
          </div>
        </section>

        <!-- Computation en sciences sociales -->
        <section class="align-center">
          <h3>Informatique : science sociale ?</h3>
          <div class="border-light-1 mr-1 ml-1 p-1">
            <i class="fa fa-quote-left"></i>
            Étant donné que l'informatique en tant que discipline est de plus en
            plus intégrée dans la vie humaine et sociale, l'informatique en tant
            que discipline universitaire doit s'éloigner des modèles de
            programmes d'études inspirés par l'ingénierie et intégrer les
            perspectives analytiques fournis par les théories et les
            méthodologies des sciences sociales.
            <i class="fa fa-quote-right"></i>
          </div>
          <p class="text-right pr-5">— Connolly, 2020</p>
          <p>
            <small
              ><i class="fa fa-exclamation-triangle"></i> Traduction
              libre</small
            >
          </p>
        </section>

        <!-- Connely video -->
        <section>
          <h3>Informatique : science sociale ?</h3>
          <div style="padding: 56.25% 0 0 0; position: relative">
            <iframe
              src="https://player.vimeo.com/video/433773977"
              style="
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
              "
              frameborder="0"
              allow="autoplay; fullscreen"
              class="border-dark-1"
              allowfullscreen
            ></iframe>
          </div>
          <script src="https://player.vimeo.com/api/player.js"></script>
        </section>

        <!-- Définition pragmatique -->
        <section class="align-center">
          <h3>Définition pragmatique</h3>
          <div class="border-light-1 mr-1 ml-1 p-1">
            <i class="fa fa-quote-left"></i>
            La pensée computationnelle est un terme se référant, de manière
            plutôt flexible, à un ensemble d'habiletés, compétences et
            procédures qui facilitent la résolution de problèmes en s'appuyant
            sur des principes tirés des sciences informatiques.
            <i class="fa fa-quote-right"></i>
          </div>
          <p class="text-right pr-5">— Fritz & Schneider, 2019</p>
        </section>

        <!-- Composantes principales -->
        <section class="align-center">
          <h3>Composantes principales</h3>
          <img
            src="https://edutechwiki.unige.ch/fmediawiki/images/4/40/CT_4_blocks.png"
            alt="Schéma avec 4 composantes"
            title="Les 4 composantes principales de la pensée computationnelle"
            class="r-stretch"
          />
        </section>

        <!-- Décomposition -->
        <section>
          <h3>Composantes</h3>
          <ul>
            <li class="fragment">
              <strong>Décomposition</strong><br />
              <small>
                Diviser un problème complexe ou un système en petites parties
                plus simples à gérer.
              </small>
            </li>
            <li class="fragment">
              <strong>Reconnaissance de pattern</strong><br />
              <small>
                Identifier des similarités entre problèmes ou à l’intérieur du
                même problème donné.
              </small>
            </li>
            <li class="fragment">
              <strong>Abstraction</strong><br />
              <small>
                Se focaliser exclusivement sur les parties importantes du
                problème.
              </small>
            </li>
            <li class="fragment">
              <strong>Algorithmes</strong><br />
              <small>
                Trouver une solution à travers une règle composée par une série
                d’étapes.
              </small>
            </li>
          </ul>
        </section>

        <!-- Déclarative / Procédurale -->
        <section class="align-center">
          <h3>Mais...</h3>
          <img
            src="./images/schema-memoire.png"
            alt="Schéma de la mémoire"
            title="Différentes types de mémoire"
            class="r-stretch"
          />
          <p>
            Il est nécessaire de combiner les connaissances
            <strong style="color: blueviolet">déclaratives</strong> avec des
            connaissances <strong class="accent">procédurales</strong>.
          </p>
        </section>

        <!-- Perspective enseignement -->
        <section class="align-center">
          <p class="accent pt-5">
            <i class="fas fa-chalkboard-teacher fa-5x"></i>
          </p>
          <h3>Comment enseigner la pensée computationnelle</h3>
        </section>

        <!-- Trois manières -->
        <section>
          <h3>Trois approches principales</h3>
          <p>
            Il existe principalement trois modalités d'enseignement de la pensée
            computationnelle qui peuvent être combinées :
          </p>
          <ol>
            <li>Activités <strong>débranchées</strong></li>
            <li>Environnements avec <strong>blocs de code</strong></li>
            <li><strong>Langages de programmation</strong> textuels</li>
          </ol>
          <p class="border-light-1 p-1 text-center fragment">
            <i class="fas fa-search-plus fa-2x"></i><br />
            Plus de recherche nécessaire sur bénéfices et transfert entre
            différentes modalités.
          </p>
        </section>

        <!-- Activités débranchées -->
        <section class="align-center">
          <h3 class="text-left">Activités débranchées</h3>
          <p class="text-left">
            Activités qui <strong>n'utilisent pas</strong> un dispositif
            numérique, mais une modélisation abstraite du fonctionnement.
          </p>
          <img
            src="https://edutechwiki.unige.ch/fmediawiki/images/a/a2/Photo_2016-12-15_10-19-41.jpg"
            alt="Exemple d'activité débranchée"
            title="Programming Boty : programmer avec des jetons"
            class="r-stretch"
          /><br />
          <small>
            <a href="https://edutechwiki.unige.ch/fr/Programming_Boty"
              >Programming Boty</a
            >
            de L. Boufflers et S. Linh Quang.</small
          >
        </section>

        <!-- Exemples débranchés -->
        <section>
          <h3>Exemples <em>débranchés</em></h3>
          <ul>
            <li class="fragment">
              Simulation par l'humain<br /><small>
                Une personne joue le rôle de <em>l'ordinateur</em>, en exécutant
                des instructions données par une autre personne.
              </small>
            </li>
            <li class="fragment">
              Pseudo-code<br /><small>
                Création d'instructions dans un <em>méta-langage</em> qui
                s'approchent des standards d'un <em>vrai</em> langage de
                programmation.</small
              >
            </li>
            <li class="fragment">
              Jeu symbolique<br /><small>
                Utilisation d'actions symboliques qui implémentent des principes
                informatiques (e.g. écrire un e-mail en écrivant sur un papier
                qui est ensuite divisé en petites parties et envoyé dans
                différentes directions).</small
              >
            </li>
            <li class="fragment">
              Prototypage tangible<br /><small>
                <em>Bricoler</em> des applications avec des éléments tangibles
                (e.g. papier, post-it, ...) qui simulent des mécanismes
                computationnels sous-jacents
              </small>
            </li>
          </ul>
        </section>

        <!-- Bloc de code -->
        <section class="align-center">
          <h3 class="text-left">Blocs de code</h3>
          <p class="text-left">
            Environnements graphiques qui emboîtent des instructions en forme de
            <em>briques</em>.
          </p>
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/e/e3/Scratch_3.0_GUI.png"
            alt="Exemple de bloc de code"
            title="Scratch, du MIT"
            class="r-stretch"
          />
          <small
            >Capture d'écran de <a href="https://scratch.mit.edu/">Scratch</a>.
            Crédits :
            <a
              href="https://commons.wikimedia.org/wiki/File:Scratch_3.0_GUI.png"
              title="via Wikimedia Commons"
              >Thenerdie</a
            >
            /
            <a href="https://creativecommons.org/licenses/by-sa/4.0"
              >CC BY-SA</a
            ></small
          >
        </section>

        <!-- Exemples blocs de code -->
        <section>
          <h3>Exemples blocs de code</h3>
          <ul>
            <li class="fragment">
              <a href="https://edutechwiki.unige.ch/fr/Scratch_3.0">Scratch</a
              ><br /><small>
                Création de jeux/histoires/animations interactives basés sur une
                interface utilisateur.</small
              >
            </li>
            <li class="fragment">
              <a href="http://www.turtlestitch.org/">TurtleStitch</a
              ><br /><small>
                Création computationnelle de dessins techniques pour la broderie
                numérique.</small
              >
            </li>
            <li class="fragment">
              <a href="https://www.blockscad3d.com/">BlockSCAD</a><br /><small>
                Création computationnelle d'objets tridimensionnels pour
                l'impression 3D.</small
              >
            </li>
            <li class="fragment">
              <a href="https://arcade.makecode.com/">MakeCode Arcade</a
              ><br /><small>
                Création de jeux vidéos avec un style <em>rétro</em>.</small
              >
            </li>
            <li class="fragment">
              <a href="https://makecode.adafruit.com/">MakeCode Adafruit </a
              ><br />
              <small>
                Programmation d'objets connectés/robots électroniques.</small
              >
            </li>
          </ul>
        </section>

        <!-- Langages de programmation -->
        <section>
          <h3>Langages de programmation</h3>
          <p>
            Utiliser une notation conventionnelle destinée à formuler des
            algorithmes et produire des programmes informatiques qui les
            appliquent.
          </p>
          <img
            src="./images/programming-languages-spectrum.svg"
            alt="Continuum entre deux pôles"
            title="Choix entre langages désuets ou très utilisés"
            style="min-width: 100%"
            class="fragment"
            data-fragment-index="1"
          />
          <div class="d-flex space-between text-center">
            <div
              class="border-dark-1 p-1 fragment pl-2 pr-2"
              data-fragment-index="2"
            >
              <i class="fas fa-robot"></i><br />
              Informatique *
            </div>
            <div
              class="border-dark-1 p-1 fragment pl-2 pr-2"
              data-fragment-index="3"
            >
              <i class="fas fa-user-friends"></i><br />
              Sciences sociales
            </div>
          </div>
          <p>
            <small class="fragment" data-fragment-index="2"
              >* Pas dans toutes les filières</small
            >
          </p>
        </section>

        <!-- Example PCJS -->
        <section class="align-center">
          <h3>Exemple langage</h3>
          <img
            class="r-stretch"
            src="https://edutechwiki.unige.ch/fmediawiki/images/d/de/JePenseDoncJS-logo.svg"
            alt="Logo du projet"
            title="Je pense, donc JS"
          />
          <p>
            <a
              href="https://edutechwiki.unige.ch/fr/Initiation_%C3%A0_la_pens%C3%A9e_computationnelle_avec_JavaScript"
              >Pensée computationnelle avec JavaScript</a
            ><br /><small
              >Collection de ressources en relation avec la technologie
              éducative.</small
            >
          </p>
        </section>

        <!-- Partie enjeux et difficultés -->
        <section class="align-center">
          <p class="accent pt-5">
            <i class="fas fa-exclamation-triangle fa-5x"></i>
          </p>
          <h3>Enjeux et difficultés</h3>
        </section>

        <!-- Pourquoi -->
        <section>
          <h3>Pourquoi ?</h3>
          <p>
            Différentes opinions sur les raisons pour lesquelles enseigner la
            pensée computationnelle :
          </p>
          <ul>
            <li>Préparation au marché du travail</li>
            <li>Comprendre l'environnement qui nous entoure</li>
            <li>Alphabétisation/culture numérique</li>
            <li>...</li>
          </ul>
        </section>

        <!-- Terrain difficile -->
        <section>
          <h3>Difficultés pour l'enseignement</h3>
          <p>
            Se trouver entre <strong class="accent">deux</strong> systèmes
            <em>computationnels</em> complexes et distincts, en plus distribués
            !
          </p>
          <img
            src="./images/systemes-computationnels.png"
            class="r-stretch"
            alt="Cerveau et dispositifs numériques comme systèmes computationnels"
            title="Interaction personne-machine entre deux systèmes computationnels (distribués)"
          />
        </section>

        <!-- Différents parcours possibles -->
        <section class="align-center">
          <h3>Différents parcours possibles</h3>
          <img
            src="./images/differents-parcours.png"
            class="r-stretch"
            alt="Diagramme avec Conceptuel, Technique et Pragmatique"
            title="Différents parcours basé sur le Conceptuel, le Technique et le Pragmatique"
          />
        </section>

        <!-- Plus loin -->
        <section>
          <h3>Pour aller plus loin</h3>
          <p>
            Les concepts abordés dans cette présentation sont traités de manière
            plus exhaustive dans
            <a
              href="https://edutechwiki.unige.ch/fr/Aspects_th%C3%A9oriques_de_la_pens%C3%A9e_computationnelle"
              >Aspects théoriques de la pensée computationnelle</a
            >
            sur EduTechWiki.
          </p>
          <p>
            EduTechWiki est un wiki sur la technologie éducative hébergé est
            maintenu par
            <a href="https://tecfa.unige.ch"
              ><abbr title="Technologies de Formation et Apprentissage"
                >TECFA</abbr
              ></a
            >, une unité de l'Université de Genève, depuis 2006.
          </p>
        </section>

        <!-- Merci -->
        <section class="align-center">
          <h3>Merci pour votre attention !</h3>
          <div class="r-stretch">
            <p>
              Mattia A. Fritz<br />
              <small>TECFA, Université de Genève</small>
            </p>
            <p>
              <a href="mailto:mattia.fritz@unige.ch"
                ><i class="fas fa-envelope fa-fw"></i
              ></a>

              <a href="https://mafritz.ch">
                <i class="fas fa-link fa-fw"></i>
              </a>

              <a href="https://twitter.com/mattiafritz">
                <i class="fab fa-twitter fa-fw"></i>
              </a>

              <a href="https://github.com/mafritz">
                <i class="fab fa-github fa-fw"></i>
              </a>

              <a href="https://www.researchgate.net/profile/Mattia_Fritz">
                <i class="fab fa-researchgate fa-fw"></i>
              </a>
            </p>
          </div>
          <div>
            <a
              rel="license"
              href="http://creativecommons.org/licenses/by-nc-sa/4.0/"
              ><img
                alt="Licence Creative Commons"
                style="border-width: 0"
                src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a
            ><br />
            <small
              >Présentation créée avec
              <a href="https://revealjs.com/">Reveal.js</a>.</small
            >
          </div>
        </section>

        <!-- End of slides -->
      </div>
    </div>

    <script src="https://mafritz.ch/slides/assets/vendor/vuejs/vue.min.js"></script>
    <script src="js/candle-enigmas.js"></script>

    <script src="https://mafritz.ch/slides/assets/dist/reveal.js"></script>
    <script src="https://mafritz.ch/slides/assets/plugin/zoom/zoom.js"></script>
    <script src="https://mafritz.ch/slides/assets/plugin/notes/notes.js"></script>
    <script src="https://mafritz.ch/slides/assets/plugin/search/search.js"></script>
    <script src="https://mafritz.ch/slides/assets/plugin/markdown/markdown.js"></script>
    <script src="https://mafritz.ch/slides/assets/plugin/highlight/highlight.js"></script>
    <script src="https://mafritz.ch/slides/assets/plugin/math/math.js"></script>
    <script>
      // Also available as an ES module, see:
      // https://revealjs.com/initialization/
      Reveal.initialize({
        controls: true,
        progress: true,
        center: false,
        hash: true,
        slideNumber: true,

        // Learn about plugins: https://revealjs.com/plugins/
        plugins: [
          RevealZoom,
          RevealNotes,
          RevealSearch,
          RevealMarkdown,
          RevealHighlight,
          RevealMath,
        ],
      });
    </script>
    <!-- Fontawesome -->
    <script
      src="https://kit.fontawesome.com/ac5eb0c407.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
