<h1>Configurator</h1>
<div class="alert alert-warning lead">
  <i class="fa fa-warning"></i> <strong>Warning:</strong> the configurator is in
  beta version and is not intended for experimental purpose.
</div>
<div class="row">
  <div class="col-md-6">
    <p>
      The Configurator allows the customization of almost every aspect of the
      Tool in a "<em>researcher friendly</em>" interface. Among other things,
      researchers can define:
    </p>
    <ul class="dew-list lead">
      <li>
        <strong>Affective space</strong>: it is possible to define the
        underlying appraisal dimensions and the number and position of the
        associated subjective feelings.
      </li>
      <li>
        <strong>Interface</strong>: possibility to show or hide the different
        components of the Graphic User Interface of the tool.
      </li>
      <li>
        <strong>Experimental settings:</strong> it is possible to indicate an
        URL for an experimental task, and also define some options such as a
        timer or the simulation of a fake participant's emotions.
      </li>
    </ul>
    <p class="lead text-center">
      <a href="configurator.html" class="btn btn-lg btn-success"
        ><i class="fa fa-wrench"></i> Start the configuration</a
      >
    </p>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-video-camera"></i> Watch a video tutorial to see the
        configurator in action
      </div>
      <div class="panel-body">
        <h4>Coming soon</h4>
        <img
          class="img-responsive"
          src="/assets/images/video-configurator-poster.png"
        />
      </div>
    </div>
  </div>
</div>
