<h1>Publications</h1>
<p class="lead">Contributions using, discussing or presenting the Dynamic Emotion Wheel. If you plan to include
  it in your contribution, please let us know!</p>

<h3>Articles</h3>

<p>In progress...</p>

<h3>Conferences</h3>
<ul class="list-unstyled">
  <li>Fritz, M. A., Betrancourt, M., Molinari, G., Chanel, G. & Pun, T. (2015, July). <i>Dynamic Emotion Wheel:
    an Emotional Awareness Tool
    for Computer-Mediated Collaboration
    .</i> Poster session presented
    at the ISRE 2015 conference, Geneva, Switzerland. <a
        href="http://tecfa.unige.ch/perso/mafritz/assets/docs/MAF_2015_ISRE_hands-out.pdf"><i class="fa fa-file-pdf-o"></i> Download</a>
  </li>
</ul>
<h3>Unpublished</h3>
<ul class="list-unstyled">
  <li>Fritz, M. A. (2015). <i>Reinventing the Wheel: Emotional Awareness Enhancement in Computer-Mediated
    Collaboration with the Dynamic Emotion Wheel.</i> Master's thesis. Geneva
    University, Switzerland. <a href="http://archive-ouverte.unige.ch/unige:75083"><i class="fa fa-file-pdf-o"></i> Download</a></li>
</ul>