<!DOCTYPE html>
<html lang="en" ng-app="demoApp">
  <head>
    <meta charset="UTF-8" />
    <title>Dynamic Emotion Wheel: Emotion Self-Report and Awareness Tool</title>
    <link href="./assets/css/bootstrap.css" rel="stylesheet" />
    <link href="./assets/css/font-awesome.min.css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css?family=Ubuntu:400,700|Open+Sans"
      rel="stylesheet"
      type="text/css"
    />
    <script src="./assets/js/chart.min.js"></script>
    <script src="./assets/js/underscore-min.js"></script>
    <script src="./assets/js/angular.min.js"></script>
    <script src="./assets/js/angular-route.min.js"></script>
    <script src="./app/dew/dew.js"></script>
    <script src="./app/configurator/configurator.js"></script>
  </head>
  <body ng-controller="DynamicEmotionWheelCtrl">
    <div ng-include="'./app/dew/partials/interface.html'"></div>
    <!-- Demo -->
    <main ng-controller="configuratorCtrl">
      <h1 style="margin-top: 0px">
        Dynamic Emotion Wheel
        <a ng-click="simulateOtherEmotion()" class="btn btn-primary pull-right"
          ><i class="fa fa-user-secret"></i> Simulate other's emotion</a
        >
      </h1>
      <!-- Nav tabs -->
      <form>
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active">
            <a href="#cpm" aria-controls="cpm" role="tab" data-toggle="tab"
              ><label class="label label-default">1</label> Theoretical model</a
            >
          </li>
          <li role="presentation">
            <a
              href="#algorithm"
              aria-controls="algorithm"
              role="tab"
              data-toggle="tab"
              ><label class="label label-default">2</label> Computational
              model</a
            >
          </li>
          <li role="presentation">
            <a
              href="#circumplex"
              aria-controls="circumplex"
              role="tab"
              data-toggle="tab"
              ><label class="label label-default">3</label> Affective space</a
            >
          </li>
          <li role="presentation">
            <a
              href="#insert"
              aria-controls="insert"
              role="tab"
              data-toggle="tab"
            >
              <label class="label label-default">4</label> Expressing</a
            >
          </li>
          <li role="presentation">
            <a
              href="#retrieve"
              aria-controls="retrieve"
              role="tab"
              data-toggle="tab"
            >
              <label class="label label-default">5</label> Perceiving</a
            >
          </li>
          <li role="presentation">
            <a href="#task" aria-controls="task" role="tab" data-toggle="tab">
              <label class="label label-default">6</label> Task</a
            >
          </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
          <div class="active tab-pane fade in active" id="cpm">
            <h3>Component Process Model</h3>
            <img
              src="../images/component-process-model.png"
              alt="CPM"
              style="max-width: 80%"
            />
            <p class="text-center">Adapted from Scherer (2010)</p>
          </div>
          <div class="tab-pane fade in" id="algorithm">
            <h3>{{config.settings.name}}</h3>
            <div
              ng-include="'./app/demo/partials/radial-svg.html'"
              ng-if="config.circumplex.algorithmType=='radial'"
            ></div>
            <div
              ng-include="'./app/demo/partials/vector-svg.html'"
              ng-if="config.circumplex.algorithmType=='vector'"
            ></div>
          </div>
          <div role="tabpanel" class="tab-pane" id="circumplex">
            <div ng-include="'./app/configurator/partials/2.html'"></div>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="insert">
            <div ng-include="'./app/configurator/partials/3.html'"></div>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="retrieve">
            <div ng-include="'./app/configurator/partials/4.html'"></div>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="task">
            <div ng-include="'./app/configurator/partials/5.html'"></div>
          </div>
        </div>
        <div style="height: 100px"></div>
      </form>
    </main>
    <!-- Modal -->
    <div
      class="modal fade bs-example-modal-lg"
      id="helpModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myModalLabel"
    >
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">
              Help with the Configurator
            </h4>
          </div>
          <div class="modal-body">
            <p>The configurator...</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Scripts -->
    <script src="./assets/js/jquery.min.js"></script>
    <script src="./assets/js/bootstrap.min.js"></script>
    <script>
      $(".nav-tabs a").click(function (e) {
        e.preventDefault();
        $(this).tab("show");
      });
    </script>
  </body>
</html>
