<h3>Define the part of the DEW used to express emotions</h3>
<div class="form-group">
  <label for="confQuestionX">Appraisal 1 prompt</label>
  <input
    type="text"
    class="form-control"
    ng-model="config.inserting.questionX"
  />
</div>
<div class="form-group">
  <label for="confDimXneg">Min. label</label>
  <input type="text" class="form-control" ng-model="config.inserting.dimXneg" />
</div>
<div class="form-group">
  <label for="confDimXpos">Max. label</label>
  <input type="text" class="form-control" ng-model="config.inserting.dimXpos" />
</div>
<hr />
<div class="form-group">
  <label for="confQuestionY">Appraisal 2 prompt</label>
  <input
    type="text"
    class="form-control"
    ng-model="config.inserting.questionY"
  />
</div>
<div class="form-group">
  <label for="confDimYneg">Min. label</label>
  <input type="text" class="form-control" ng-model="config.inserting.dimYneg" />
</div>
<div class="form-group">
  <label for="confDimYpos">Max. label</label>
  <input type="text" class="form-control" ng-model="config.inserting.dimYpos" />
</div>
<hr />
<div class="form-group">
  <label for="confEmotionsInSubset">Number of emotions in subset:</label>
  <input
    type="number"
    class="form-control"
    ng-model="config.inserting.numSubset"
    id="confEmotionsInSubset"
  />
</div>
<div class="form-group">
  <label>Other options</label>
  <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="config.inserting.showOtherEmotion" />
      Show form for Other emotion
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="config.inserting.showNoEmotion" /> Show
      "NO Emotion" button
    </label>
  </div>
</div>
