<h3>Define the part of the DEW used to be aware of emotions</h3>
<div class="form-group">
  <label>Emotion timeline options</label>
  <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="config.retrieving.showTimeline" /> Show
      Emotion timeline
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input
        type="checkbox"
        ng-model="config.retrieving.showTimelineSelf"
        ng-disabled="!config.retrieving.showTimeline"
      />
      Show user's emotion timeline (i.e. "You")
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input
        type="checkbox"
        ng-model="config.retrieving.showTimelineOther"
        ng-disabled="!config.retrieving.showTimeline"
      />
      Show partner's emotion timeline (i.e. "Other")
    </label>
  </div>
</div>
<div class="form-group">
  <label>Appraisal line chart options</label>
  <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="config.retrieving.showAppraisalSelf" />
      Show user's appraisal evolution in time (i.e. "Your chronology")
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="config.retrieving.showAppraisalOther" />
      Show partner's appraisal evolution in time (i.e. "Other participant's
      chronology")
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="config.retrieving.showAppraisalX" /> Show
      dimension X appraisal evolution in time (i.e. "{{ config.circumplex.dimX
      }}'s chronology")
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="config.retrieving.showAppraisalY" /> Show
      dimension Y appraisal evolution in time (i.e. "{{ config.circumplex.dimY
      }}'s chronology")
    </label>
  </div>
</div>
